html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  background: fixed center url("/ocean.webp");
  background-size: cover;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
:root {
  --nat-navbar-bg: rgb(0, 77, 64);
  --nat-navbar-bg-rgb: 0, 77, 64;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: #80cbc4;
}
footer,
footer a {
  color: var(--nat-navbar-text-color);
}
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}
.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

#list {
  padding-left: 4rem;
  padding-right: 4rem;
}
